<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Nebulosa Maníaca</h1>
    <p>Ajuda AI</p>

<form method="GET" action="/search">
    <div id="divBusca">
        <input type="text" id="txtBusca" name="query" placeholder="Pesquise artigos...">
        <button type="submit" id="btnBusca"><img src="/static/lupa.png" alt="Buscar"></button>
    </div>
</form>

</body>
</html>